---
title: Miebi
---

<!-- FILTERS BAR -->
<div class="filters" id="filters">
  <% tags = [] %>
  <% data.projects.list.each do |project| %>
    <% project.tags.each { |tag| tags << tag if tags.include?(tag) == false } %>
  <% end %>

  <span class="me-2">Filter by</span>

  <span class="tags filter-tag">View All</span>

  <% tags.each do |tag| %>
    <span class="tags filter-tag"><%= tag %></span>
  <% end %>

</div>

<!-- MAIN BODY CONTENT -->


  <div class="wrapper wrapper-index">

  <div class="row presentation">
    <div class="col-xs-12 col-lg-6 headline">
      <h1>Hi, I’m Miebi, a web developer and digital designer</h1>
    </div>

    <div class="col-xs-12 col-lg-6">
      <p class="intro">I'm an arts and culture enthusiast, especially when it comes to new technologies and immersive experiences. After working as a graphic designer in New York, I joined Le Wagon coding bootcamp to become a web developer and extend my skills in the digital field. </p>

      <div class="row mt-4">
        <div class="col-6">
          <h4>Say hi</h4>
          <p>hi@miebi.space</p>
        </div>

        <div class="col-6">
          <h4>Find me online</h4>
          <p>
            <%= link_to 'GitHub', 'https://github.com/utilisateur387', target: '_blank' %>,
            <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/utilisateur387/', target: '_blank' %>,
            @utilisateur387
          </p>
        </div>
      </div>
    </div>
  </div>


  <h4 class="subtitle" id="projects">Latest projects</h4>

  <% data.projects.list.each do |project| %>

    <div class="card-project" data-tags="<%= project.tags.join("/") %>" >
      <hr>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h1><%= project.title %></h1>
        </div>

        <div class="col-xs-12 col-md-6">
          <p class="card-description"><%= project.short_description %></p>
        </div>

        <% if project.tags %>
          <p>
            <% project.tags.each do |tag| %>
              <span class="tags">
                <%= tag %>
              </span>
            <% end %>
          </p>
        <% end %>
      </div>


      <% if project.title.include?(" ") %>
        <% title = project.title.downcase.gsub(' ', '_').gsub('.', '') %>

        <% link_to "projects/#{title}" do %>
          <%= image_tag "#{title}/cover_image.png", alt: "alttext" %>
        <% end %>

      <% else %>
        <% link_to "projects/#{project.title.downcase}" do %>
          <%= image_tag "#{project.title.downcase}/cover_image.png", alt: "alttext" %>
        <% end %>
      <% end %>
    </div>
  <% end %>

</div>
